<body>

<section id="about" class="mb50">

<h2><span>About</span>特定商取引法に基づく表記</h2>

<table class="ta2">
<tr>
<th colspan="2" class="tamidashi">特定商取引法に基づく表記</th>
</tr>
<tr>
  <th>商号</th>
    <td>YSF.Labo<br>
</td>
</tr>
<tr>
  <th>代表者</th>
  <td>堀</td>
</tr>
<tr>
  <th>所在地</th>
  <td>〒107-0062　東京都港区南青山２－２－１５　WIN青山５３１</td>
</tr>
<tr>
  <th>電話</th>
  <td>050-3695-3420</td>
</tr>
<tr>
  <th>販売価格</th>
  <td>商品毎に記載</td>
</tr>
<tr>
  <th>注文方法</th>
  <td>インターネット</td>
</tr>
<tr>
  <th>支払い方法</th>
  <td>銀行振込</td>
</tr>
<tr>
  <th>引渡方法</th>
  <td>郵送</td>
</tr>
<tr>
  <th>返品・クーリングオフについて</th>
  <td>サービスは情報であり、商品はコピーしたものでも使用ができるという性質上、返品およびクーリングオフの対象外となります。</td>
</tr>
<tr>
  <th>サービスの終了について</th>
  <td>商品の到着をもってサービスは終了いたします。</td>
</tr>
</table>

</div>
<!--/main-->
</body>
</html>
