<body>

<section>

<h2><span>Guidance</span>サービスについて</h2>
<p><br>
</p>

<table class="ta2">
<tr>
<th colspan="2" class="tamidashi">サービス内容</th>
</tr>
<tr>
<th>就労証明書発行</br>（雇用なし）</th>
<td>発行費用  ¥15,000(税込　同一内容3枚まで)<br>
　※用紙にご指定がある場合はN.FrontLineの住所まで送付ください。（特定商取引法に基づく表記に記載）
</td>
</tr>
<tr>
<th>就労証明書発行</br>（雇用あり）</th>
<td>発行費用  ¥20,000(税込　同一内容3枚まで)<br>
　※用紙にご指定がある場合はN.FrontLineの住所まで送付ください。（特定商取引法に基づく表記に記載）
</td>
</tr>
<tr>
<th></th>
<td>他のサービスは今後実装予定です</td>
</tr>
</table>
<p><span class="color1">※注意</span><br>
指定用紙の送料、振り込み手数料はお客様ご負担です。<br>
サービス内容表記以外の費用はいただきません。<br>
ご入金前のキャンセルは無料です。<br>
ご入金前を持ってご契約成立となりますので、ご入金後のキャンセルはキャンセル手数料をお支払いいただきます（キャンセル手数料¥5,000）。<br>
当サービスではお電話含む在籍確認のサービスは行っておりません</p>
<p><a href="https://n-frontline-developer-edition.ap25.force.com/nflsite/requestPage?parm=inquiry">お問い合わせはこちら</a></p>
<p><a href="https://n-frontline-developer-edition.ap25.force.com/nflsite/requestPage?parm=request">お申し込みはこちら</a></p>

</section>

</div>
<!--/main-->

</body>
</html>
