<body>

<section>

<h2><span>Guidance</span>サービスについて</h2>
<p><br>
</p>

<table class="ta2">
<tr>
<th colspan="2" class="tamidashi">サービス内容</th>
</tr>
<tr>
<th>就労証明書発行</th>
<td>発行費用  ¥20,000</td>
</tr>
<tr>
<th></th>
<td>他のサービスは今後実装予定です</td>
</tr>
</table>
<p><span class="color1">※注意</span><br>
当サービスではお電話含む在籍確認のサービスは行っておりません</p>
<p><a href="contact.html">お問い合わせはこちら</a></p>
<p><a href="application.html">お申し込みはこちら</a></p>

</section>

</div>
<!--/main-->

</body>
</html>
