<!DOCTYPE html>
<html lang="ja">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>保育園向け就労証明書発行サービスサイト</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="保育園向けの就労証明書の発行をいたします。実雇用あり。リスク軽減。業界最安。">
          <meta name="keywords" content="就労証明書,アリバイ会社,n-frontline,N-FrontLine,n.frontrine,N.FrontLine,保育園,発行,就労証明書発行,代行,在職証明書,勤務証明書">
          <link rel="stylesheet" href="assets/stylesheets/application.css">
          <script type="text/javascript" src="assets/javascripts/openclose.js"></script>
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5883011342557964" crossorigin="anonymous"></script>
          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
     </head>

     <body>


     <section class="box">

     <h2><span>全てのママへ働くチャンスを</span></h2>

     <h3>フロントラインの思い</h3>
     <p>保育園に子どもを預けて働きたいけど、そもそも子どもがいるから就活できない。</p>
     <p>そんなママは大勢いると思います。</p>
     <p>私の家庭もその一つです。</p>
     <p><span class="color1">働きたいから子どもを預けたいのに、働いていないと子どもを預けさせて貰えない。</span></p>
     <p>同じことで悩んでいるママはたくさんいるはず、そんなママたちの力になりたい。</p>
     <p>そんな思いでこのサービスを始めました。</p>
     <p></p>

     <h3 class="color1">サービス概要</h3>
     <p>保育園入園申請に必要な就労証明書を発行いたします。</p>
     <p>ネット上ではアリバイ会社等の利用で色々な書き込みがあり、中には不安を煽る書き込みもあります。</p>
     <p>しかし、当サービスは他とは違います。</p>
     <p>就労証明書発行段階では実際に雇用し、就労証明書を発行します。</p>
     <p>保育園に預けている間に、仕事を探す時間を作るお手伝いをてさせていただきます。</p>
     <p>また、家計が厳しい為求職されているかと思いますので、シンプルなプランにすることで料金を可能な限り抑えております。</p>
     <p><a href="guidance.html">詳しくはこちら</a></p>

     <h3 class="color1">ご利用の流れ</h3>
     <p><span class="font1">ーーー Step1 ーーー</span></p>
     <p>お申し込みフォームより必要事項を送信してください。</p>
     <p>返信メールにて、サービス利用用URLと入金先情報が送付されます。</p>
     <p><span class="font1">ーーー Step2 ーーー</span></p>
     <p>サービス利用用URLより詳細な情報をご入力いただきます。</p>
     <p>用紙にご指定がある場合は、当住所までご送付お願いいたします。（送料お客様負担、所在地は特定商取引法に基づく表記に記載）</p>
     <p>入力後、記載されている入金先へお振込を行っていただきます。（入金手数料お客様負担）</p>
     <p class="color1">※ご入金いただくまではキャンセル料は一切いただきません</p>
     <p><span class="font1">ーーー Step3 ーーー</span></p>
     <p>就労証明書の確認メールが届きますので、ご確認後、問題ないようでしたらご入力いただきましたご住所へ送付いたします。</p>
     <p><span class="font1">ーーー Step4 ーーー</span></p>
     <p>書類のお受け取りを持って、サービスは終了となります。</p>

     </section>

     </div>
     <!--/main-->

     </body>
</html>
