<body>

<section id="about" class="mb50">

<h2><span>TermsOfService</span>ご利用規約</h2>

<h3>1.【利用規約の適用】</h3>
<p>N.FrontLine（以下乙という）はお客様（以下甲という）が本規約に同意することを条件にサービスを提供する。なお本規約は予告なく改正されることがあり、甲はこれを承認するものとする。この改正は乙運営のホームページにて甲に通知するものとする。
</p>

<h3>2.【お客様】</h3>
<p>お客様とは、本規約に同意し、サービス利用料金の支払をした個人（利用者本人）とする。
</p>

<h3>3.【契約の成立】</h3>
<p>(1) 甲が、乙に登録料金等の支払をすることで契約成立とする。<br/>
(2) 登録料金等を後払いもしくは分割払いする場合は、甲乙の合意の取り決めにより支払回数、支払日を決定し、契約の成立は、甲が乙より商品をメール受信または受領した時点で成立する。
</p>

<h3>4.【契約期間および更新】</h3>
<p>(1）本サービスの利用期間は、契約成立日の翌日から起算して任意の契約日数までの期間とする。更新はせず本サービスは停止する。<br/>
(2）本サービスとは、書類作成等、乙が提供する全てのサービスをいう。
</p>
<h3>5.【契約の解除】</h3>
<p>甲が以下の事項にひとつでも該当する場合、契約を解除できるものとする。この場合、支払済みの料金等の返済は一切行わないものとする。<br/>
(1) 契約期間終了およびお客様の希望による契約の解除<br/>
(2) サービス利用費の未払い・不足等<br/>
(3) 第８条に違反した場合<br/>
(4) 乙に対し重大な損害を与えた場合、または与えるおそれのある場合<br/>
(5) 甲が、暴力団構成員・準構成員または暴力団関係者の経営する会社員、及びその他組織犯罪集団または反社会的勢力であることが判明した場合<br/>
</p>

<h3>6.【守秘義務】</h3>
<p>甲の情報に対し、乙は守秘義務を負うものとする。ただし、法執行機関から、裁判所発行の令状、または刑事訴訟法197条2項に基づく捜査関係事項照会書を提示された場合に限り、乙は甲の承認なしに情報開示することができる。
</p>

<h3>7.【お客様の義務】</h3>
<p>甲は、本サービスを利用するにあたって以下の義務を負うものとする。<br/>
(1) 乙提供のサービスが第三者により不正利用されたことが発覚した場合、直ちに乙へ知らせること<br/>
(2) 甲の申込内容に偽りがないこと<br/>
</p>

<h3>8.【お客様の禁止行為】</h3>
<p>(1) 本サービスを，融資申込，賃貸権取得契約，偽装婚姻届の提出，損害保険請求，その他金銭の給付又は権利の取得を目的とする利用行為<br/>
(2) 本サービスを，在留許可，永住権の申請等入国管理局に対する行政手続きに利用する行為<br/>
(3) 乙発行の証明書を,乙の許可なく税務署・その他地方自治体等の税務機関に提出する行為<br/>
(4) 第三者を錯誤に陥らせて為す法律行為<br/>
(5) 乙の承諾なしに、乙関連会社の住所地を郵便物の受取先住所に指定する行為<br/>
(6) 本サービスを無断で第三者に使用させる行為<br/>
</p>

<h3>9.【サービス利用に関する免責等】</h3>
<p>(1) 乙は、甲が本サービスの利用を通じて発生した一切の損害に対していかなる責任も負わないものとする。<br/>
(2) 甲が本サービスを通じて第三者に対し損害を与えた場合は、甲の自己責任において解決するものとし、乙は一切関知しない。なお本サービスの利用で発生しうるリスクはすべて甲が負うものとする。<br/>
(3) サービスの性質上乙が甲に対して身分証明書の提示を求めた場合において甲がこれを拒否した場合は，身分証提示があるまでサービス提供を留保することができるが利用期間は停止しない。なお，当該留保によりサービス提供が開始されないことを理由とする契約解除はできないものとする。<br/>
(4) 乙が甲より請け負った書類等の製作につき，乙が着手した以後は契約の解除は原則できないものとする。<br/>
(5) 乙が甲より請け負った書類等については，甲が使用前に瑕疵の確認を行い，その瑕疵が原因で生じた二次損害について乙は責任を負わないものとする。<br/>
</p>

<h3>10.【紛争の解決】</h3>
<p>本サービスのご利用に関して、甲と乙との間に係争が発生し訴訟による解決が生じた場合には、乙が指定する住所地を管轄する裁判所を第一審の専属的合意管轄裁判所とする。
</p>
</div>
<!--/main-->
</body>
</html>
